#screenStreamContainer {
  height: 100vh;
  max-height: 100vh;
  padding: 0 20px;
  display: flex;
  background-color: #21252B;
}

#screenStream {
  max-height: 100vh;
  display: block;
  align-self: center;
}
